$colors: (
    primary: (
        100: white,
        200: hsl(100, 0%, 75%),
        300: hsl(100, 0%, 50%),
        400: hsl(100, 0%, 25%),
        500: black,
    ),
    accent: (
        100: hsl(189, 100%, 69%),
        200: hsl(189, 100%, 54%),
        300: hsl(189, 100%, 39%),
        400: hsl(189, 100%, 25%),
        500: hsl(189, 100%, 15%),
    ),
);
